{#
/**
 * @file
 * Template for the main page.
 */
#}
{% set page_attributes = page_attributes ?: create_attribute() %}
{% set
  page_classes = [
    'page'
  ]|merge(page_utility_classes ? page_utility_classes : [])
%}

<div {{ page_attributes.addClass(page_classes) }}>
  {% block page_header %}
    {% include 'radix:page-header' %}
  {% endblock %}

  {% block page_content %}
    {% include 'booster_theme:page-content' %}
  {% endblock %}

  {% block page_footer %}
    {% include 'booster_theme:page-footer' %}
  {% endblock %}
</div>
