@import "../../src/scss/init";

body {
  .page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
      flex: 1;

      .media {
        &.align-left {
          margin: 0 1rem 1rem 0;
        }

        &.align-right {
          margin: 0 0 1rem 1rem;
        }
      }
    }
  }
}
